<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>My Todo List</title>
    <link href="todo.css" rel="stylesheet" />
</head>
<body ng-app="myTodoModule" ng-controller="myTodoController">

    <div class="my-container">

        <p>
            <span>Title:</span>
            <input type="text" ng-model="nwItem" />
            <button ng-click="create()">Create</button>
            <button ng-click="filter()">Filter</button>
        </p>

        <hr />

        <p ng-repeat="item in todoList"
           class="todo-item"
           ng-click="select(item)"
           ng-class="{'selected': item == selectedItem}">
            {{item}}
        </p>


    </div>

    <script src="angular.js"></script>
    <script src="todo.js"></script>
</body>
</html>